
<h1>Post list</h1>

<p *ngIf="!posts"><em>Loading...</em></p>

<div *ngIf="posts">
    <article class="post" *ngFor="let post of posts">
        <header>
            <h2 class="post-title"><a href="/{{post.permalink}}">{{post.title}}</a></h2>
        </header>
        <section>
            <p>{{post.excerpt}}</p>
        </section>
        <footer class="post-meta">
            <time class="post-date" [attr.datetime]="post.createDate">{{post.createDate | date:'dd MMM yyyy' }}</time>
        </footer>
    </article>
</div>
